.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;

}

.container:hover {
    background-color: burlywood;
}

.title {
    font-size: 80px;
    color: whitesmoke;
    letter-spacing: 0.2px;
}

